.active-area {
	float: left;
	width: 575px;
	.bg-image {
		height: 643px;
		width: 576px;
		right: 0px;
		top: 30px;
		bottom: 0px;
	}
	#back-button {
		background-image: url('../resources/images/back-button.png');
		background-repeat: no-repeat;
		position: absolute;
		width: 60px;
		height: 54px;
	}
	#next-button {
		background-image: url('../resources/images/next-button.png');
		background-repeat: no-repeat;
		position: absolute;
		width: 60px;
		height: 54px;
		left: 490px;
		top: 59px;
	}
}