.active-area {
	position: absolute;
	margin-left: 240px;
	width: 784px;
	height: 670px;
	border: 1px solid black;
	#back-button {
		background-image: url('../resources/images/back-button.png');
		background-repeat: no-repeat;
		position: absolute;
		width: 60px;
		height: 54px;
		margin-left: 60px;
	}
	#next-button {
		background-image: url('../resources/images/next-button.png');
		background-repeat: no-repeat;
		position: absolute;
		width: 60px;
		height: 54px;
		margin-left: 120px;
		margin-top: -1px;
	}
}
