.app-header {
	height: 30px; 
	background-color: $pure-white;
}
.inline-list {
	position: absolute;
	margin-left: 750px;
	margin-top: 7px;
	a {
		text-decoration: none;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		a, h5 {
			color: #002a5f;
			font-size: 14px;
		}
		a {
			&:hover {
				color: #00b5ef;
			}
		}
		.social-icon {
			color: #bbbdbf;
			font-size: 16px;
			&:hover { 
				color: #82c341;
			}
		}
		
	}
	
}