.app-header {
	height: 30px; 
	background-color: $pure-white;
}
.inline-list {
	float: right;
	margin-right: 15px;
	margin-top: 7px;
	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		color: purple;
	}
	a {
		text-decoration: none;
	}
}