/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_sidebar.scss */
.sidebar {
  width: 240px;
  top: 30px;
  bottom: 0px;
  position: absolute;
}
/* line 6, ../sass/_sidebar.scss */
.sidebar .logo-container {
  height: 85px;
  background-color: #0076be;
}
/* line 9, ../sass/_sidebar.scss */
.sidebar .logo-container .logo-bg {
  height: 40px;
  width: 117px;
  background-color: #002a5f;
}
/* line 13, ../sass/_sidebar.scss */
.sidebar .logo-container .logo-bg img {
  position: relative;
  width: 109px;
  height: 21px;
  top: 10px;
  left: 4px;
}
/* line 22, ../sass/_sidebar.scss */
.sidebar .information-container {
  background-color: #82c341;
  height: 100%;
}
/* line 25, ../sass/_sidebar.scss */
.sidebar .information-container h2 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px;
}
/* line 31, ../sass/_sidebar.scss */
.sidebar .information-container p {
  color: white;
  font-size: 12px;
  padding: 10px;
}
/* line 38, ../sass/_sidebar.scss */
.sidebar .character-container div {
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
}
/* line 44, ../sass/_sidebar.scss */
.sidebar .character-container .bear-container {
  margin-left: 6px;
}
/* line 47, ../sass/_sidebar.scss */
.sidebar .character-container .salmon-container {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 51, ../sass/_sidebar.scss */
.sidebar .character-container img {
  display: block;
}
/* line 54, ../sass/_sidebar.scss */
.sidebar .character-container .snowman {
  height: 85px;
  width: 85px;
}
/* line 58, ../sass/_sidebar.scss */
.sidebar .character-container .bear {
  height: 80px;
  width: 84px;
}
/* line 62, ../sass/_sidebar.scss */
.sidebar .character-container .owl {
  height: 75px;
  width: 90px;
}
/* line 66, ../sass/_sidebar.scss */
.sidebar .character-container .salmon {
  height: 82px;
  width: 101px;
}
/* line 70, ../sass/_sidebar.scss */
.sidebar .character-container label {
  color: white;
  font-size: 12px;
  padding: 10px;
}

/* line 1, ../sass/_header.scss */
.app-header {
  height: 30px;
  background-color: white;
}
